In [32]:
from collections import defaultdict

import pandas as pd
file_path = 'keepIton_stop_data_2016_2023.xlsx'

In [15]:

# Load the Excel file
excel_data = pd.ExcelFile(file_path)

# Display sheet names
print("Sheet names:", excel_data.sheet_names)


# Parse the first sheet
df_2023 = excel_data.parse(excel_data.sheet_names[0])
df_2022 = excel_data.parse(excel_data.sheet_names[1])
df_2021 = excel_data.parse(excel_data.sheet_names[2])
df_2020 = excel_data.parse(excel_data.sheet_names[3])
df_2019 = excel_data.parse(excel_data.sheet_names[4])
df_2018 = excel_data.parse(excel_data.sheet_names[5])
df_2017 = excel_data.parse(excel_data.sheet_names[6])
df_2016 = excel_data.parse(excel_data.sheet_names[7])

Sheet names: ['2023', '2022', '2021', '2020', '2019', '2018', '2017', '2016', 'Data updates']

In [16]:
df_aggregated = pd.concat([df_2023, df_2022, df_2021, df_2020, df_2019, df_2018, df_2017, df_2016])
df_aggregated_full_network = df_aggregated[df_aggregated['shutdown_extent']=='Full network']
print(df_aggregated_full_network['country'].value_counts())

India                                 740
Myanmar                                62
Iran (Islamic Republic of)             55
Pakistan                               42
Ukraine                                29
Yemen                                  25
Iraq                                   23
Ethiopia                               20
Bangladesh                             18
Syrian Arab Republic                   17
Palestine, State of                    17
Sudan                                  13
Libya                                   7
Algeria                                 7
Cuba                                    6
Turkmenistan                            5
Russian Federation                      5
Congo (Democratic Republic of the)      5
Azerbaijan                              4
Indonesia                               4
Chad                                    4
Sierra Leone                            3
Togo                                    3
Philippines                             3
Tajikistan                              3
Mauritania                              3
Kenya                                   2
Cameroon                                2
Afghanistan                             2
Burkina Faso                            2
Gabon                                   2
Senegal                                 2
Somaliland                              2
Bahrain                                 1
Equatorial Guinea                       1
North Korea                             1
Morocco                                 1
Belarus                                 1
Turkey                                  1
Nicaragua                               1
C么te d'Ivoire                           1
Kazakhstan                              1
South Korea                             1
Egypt                                   1
Jordan                                  1
Ecuador                                 1
Malawi                                  1
Kyrgyzstan                              1
Mali                                    1
Nigeria                                 1
Eswatini                                1
Congo                                   1
Niger                                   1
Uganda                                  1
Uzbekistan                              1
Venezuela (Bolivarian Republic of)      1
Mozambique                              1
Gambia                                  1
Name: country, dtype: int64

In [17]:
df_aggregated_nationwide = df_aggregated_full_network[df_aggregated_full_network['area_name']=='Nationwide']
print(df_aggregated_nationwide['country'].value_counts())

Iran (Islamic Republic of)            7
Iraq                                  7
Ukraine                               6
Sudan                                 6
Syrian Arab Republic                  5
Cuba                                  3
Congo (Democratic Republic of the)    3
Bangladesh                            3
Algeria                               3
Sierra Leone                          3
Chad                                  2
Mauritania                            2
Turkmenistan                          2
Senegal                               2
Ethiopia                              2
Mozambique                            1
Gabon                                 1
Yemen                                 1
Burkina Faso                          1
Myanmar                               1
Russian Federation                    1
Pakistan                              1
Kazakhstan                            1
C么te d'Ivoire                         1
Togo                                  1
Belarus                               1
Name: country, dtype: int64

In [52]:
country_nation_wide = defaultdict(int)
country_occurrences = defaultdict(int)
for row in df_aggregated.iterrows():
    if row[1]['area_name'] == 'Nationwide':
        country_nation_wide[row[1]['country']] += 1
    country_occurrences[row[1]['country']] += 1

df_country_nation_wide = pd.DataFrame(list(country_nation_wide.items()), columns=['country', 'nation_wide_occurrences'])
df_total_occurrences = pd.DataFrame(list(country_occurrences.items()), columns=['country', 'total_occurrences'])
df_occurrence_statistics = df_country_nation_wide.merge(df_total_occurrences, on='country')
df_occurrence_statistics['ratio'] = df_occurrence_statistics['nation_wide_occurrences'] / df_occurrence_statistics['total_occurrences']
print(df_occurrence_statistics)

                               country  nation_wide_occurrences  \
0                               Turkey                       11
1                            Indonesia                        9
2                 United Arab Emirates                        8
3                         Saudi Arabia                        7
4           Iran (Islamic Republic of)                       20
5                              Lebanon                        5
6                             Pakistan                        8
7                                Qatar                        4
8                                India                        5
9                               Uganda                        4
10                  Russian Federation                        6
11                                Oman                        4
12                              Jordan                        6
13                        Turkmenistan                        4
14                               China                        4
15                                Iraq                       10
16                            Ethiopia                        4
17                            Suriname                        1
18                          Mauritania                        2
19        Tanzania, United Republic of                        2
20                               Sudan                        7
21                              Brazil                        2
22                                Cuba                        3
23                              Guinea                        2
24                             Senegal                        4
25                             Algeria                        5
26                Syrian Arab Republic                        5
27                               Gabon                        1
28                          Azerbaijan                        2
29                          Mozambique                        1
30                               Kenya                        1
31                               Nepal                        1
32                             Ukraine                        7
33                             Nigeria                        1
34                          Uzbekistan                        1
35                          Kazakhstan                        3
36                        Burkina Faso                        2
37                               Yemen                        3
38                             Myanmar                        1
39                             Tunisia                        1
40                           Sri Lanka                        2
41                        Sierra Leone                        3
42                         Afghanistan                        1
43                                Chad                        2
44                          Bangladesh                        4
45  Congo (Democratic Republic of the)                        3
46                       C么te d'Ivoire                        1
47                                Mali                        1
48                            Cameroon                        1
49                                Togo                        1
50                             Belarus                        1
51                          Montenegro                        1

    total_occurrences     ratio
0                  19  0.578947
1                  14  0.642857
2                   8  1.000000
3                   8  0.875000
4                  69  0.289855
5                   5  1.000000
6                  56  0.142857
7                   4  1.000000
8                 771  0.006485
9                   8  0.500000
10                 11  0.545455
11                  5  0.800000
12                 15  0.400000
13                  8  0.500000
14                  8  0.500000
15                 31  0.322581
16                 28  0.142857
17                  1  1.000000
18                  3  0.666667
19                  3  0.666667
20                 17  0.411765
21                  4  0.500000
22                  8  0.375000
23                  4  0.500000
24                  5  0.800000
25                 13  0.384615
26                 17  0.294118
27                  4  0.250000
28                  7  0.285714
29                  1  1.000000
30                  3  0.333333
31                  1  1.000000
32                 31  0.225806
33                  4  0.250000
34                  4  0.250000
35                  8  0.375000
36                  3  0.666667
37                 28  0.107143
38                 64  0.015625
39                  1  1.000000
40                  5  0.400000
41                  3  1.000000
42                  3  0.333333
43                  8  0.250000
44                 21  0.190476
45                  7  0.428571
46                  1  1.000000
47                  5  0.200000
48                  4  0.250000
49                  5  0.200000
50                  3  0.333333
51                  1  1.000000

In [12]:
df_aggregated_mobile = df_aggregated[df_aggregated['affected_network']=='Mobile']
print(df_aggregated_mobile['country'].value_counts())

India                         495
Myanmar                        29
Pakistan                       23
Bangladesh                     16
Iran (Islamic Republic of)      6
Ethiopia                        6
Togo                            5
Mauritania                      3
Sudan                           3
Mali                            2
Indonesia                       2
Kenya                           2
Nigeria                         2
Cuba                            2
Philippines                     2
Jordan                          2
Yemen                           2
Burkina Faso                    2
Iraq                            2
Libya                           2
Turkmenistan                    2
Algeria                         2
Senegal                         2
Russian Federation              2
Ecuador                         1
Niger                           1
Syrian Arab Republic            1
Burundi                         1
South Sudan                     1
Zimbabwe                        1
Mozambique                      1
North Korea                     1
Name: country, dtype: int64

In [8]:
print(df_2023[df_2023['shutdown_extent']=='Full network']['country'].value_counts())

country
India                                 102
Myanmar                                37
Iran (Islamic Republic of)             31
Palestine, State of                    16
Ukraine                                 8
Azerbaijan                              4
Pakistan                                4
Iraq                                    4
Bangladesh                              3
Libya                                   3
Ethiopia                                2
Senegal                                 2
Syrian Arab Republic                    2
Sudan                                   2
Mauritania                              2
Somaliland                              1
Cuba                                    1
Algeria                                 1
Turkmenistan                            1
Gabon                                   1
Russian Federation                      1
Mozambique                              1
Venezuela (Bolivarian Republic of)      1
Name: count, dtype: int64

In [11]:
print(df_2022[df_2022['shutdown_extent']=='Full network']['country'].value_counts())

country
India                         83
Ukraine                       21
Iran (Islamic Republic of)    16
Myanmar                        8
Bangladesh                     5
Sudan                          4
Libya                          4
Pakistan                       3
Turkmenistan                   3
Cuba                           2
Tajikistan                     2
Sierra Leone                   2
Ethiopia                       1
Syrian Arab Republic           1
Yemen                          1
Burkina Faso                   1
Iraq                           1
Uzbekistan                     1
Afghanistan                    1
Somaliland                     1
Jordan                         1
Name: count, dtype: int64

In [12]:
print(df_2021[df_2021['shutdown_extent']=='Full network']['country'].value_counts())

country
India                         105
Myanmar                        13
Iran (Islamic Republic of)      4
Sudan                           4
Cuba                            3
Iraq                            2
Syrian Arab Republic            2
Chad                            2
Ethiopia                        2
Yemen                           2
Indonesia                       2
Uganda                          1
Pakistan                        1
Niger                           1
Gabon                           1
Palestine, State of             1
Congo                           1
Eswatini                        1
Algeria                         1
Nigeria                         1
Afghanistan                     1
Bangladesh                      1
Burkina Faso                    1
Turkmenistan                    1
Tajikistan                      1
Name: count, dtype: int64

In [13]:
print(df_2020[df_2020['shutdown_extent']=='Full network']['country'].value_counts())

country
India                         107
Yemen                           6
Ethiopia                        4
Kenya                           2
Myanmar                         2
Syrian Arab Republic            2
Sudan                           2
Bangladesh                      1
Pakistan                        1
Iran (Islamic Republic of)      1
Togo                            1
Mali                            1
Kyrgyzstan                      1
Name: count, dtype: int64

In [14]:
print(df_2019[df_2019['shutdown_extent']=='Full network']['country'].value_counts())

country
India                                 114
Yemen                                  10
Pakistan                                6
Iraq                                    6
Algeria                                 4
Russian Federation                      3
Iran (Islamic Republic of)              3
Bangladesh                              3
Ethiopia                                3
Syrian Arab Republic                    2
Indonesia                               2
Myanmar                                 2
Congo (Democratic Republic of the)      1
Malawi                                  1
Sudan                                   1
Cameroon                                1
Mauritania                              1
Ecuador                                 1
Name: count, dtype: int64

In [15]:
print(df_2018[df_2018['shutdown_extent']=='Full network']['country'].value_counts())

country
India                                 134
Pakistan                               11
Ethiopia                                6
Yemen                                   6
Iraq                                    5
Bangladesh                              4
Congo (Democratic Republic of the)      3
Philippines                             2
Chad                                    2
Kazakhstan                              1
South Korea                             1
Sierra Leone                            1
C么te d'Ivoire                           1
Syrian Arab Republic                    1
Nicaragua                               1
Russian Federation                      1
Togo                                    1
Name: count, dtype: int64

In [16]:
print(df_2017[df_2017['shutdown_extent']=='Full network']['country'].value_counts())

country
India                                 66
Pakistan                               8
Iraq                                   4
Syrian Arab Republic                   3
Philippines                            1
Congo (Democratic Republic of the)     1
Cameroon                               1
Belarus                                1
Ethiopia                               1
Algeria                                1
Morocco                                1
North Korea                            1
Togo                                   1
Equatorial Guinea                      1
Name: count, dtype: int64

In [17]:
print(df_2016[df_2016['shutdown_extent']=='Full network']['country'].value_counts())

country
India                   29
Pakistan                 8
Syrian Arab Republic     4
Iraq                     1
Ethiopia                 1
Bahrain                  1
Bangladesh               1
Egypt                    1
Turkey                   1
Gambia                   1
Name: count, dtype: int64